/* src/app.css */

@font-face {
	font-family: "Affigere";
	src: url("/fonts/XCicero_Affigere/XCicero_Affigere-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
    /* Text & Fonts */
	--text-font: "neue-haas-grotesk-display", sans-serif;
    --title-font: "Affigere", "neue-haas-grotesk-display", sans-serif;
    --text-size: 1.3em;
    --text-size2: 1.5em;
    --title-size: 12em;
    --subtitle-size: 4em;

    /* Colors */
    --primary-color: #f15a26;
    --secondary-color: #4b4ea1;
    --tertiary-color: #a4a7d3;
    --quaternary-color: #f7a277;
    --black-sub: #1f1d21;
    --white-sub: #f6f6f3;
}


*{
    background-color: var(--white-sub);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

body {
	min-height: 100vh;
	margin: 0;

}

h1 {
	font-family: var(--title-font);
	font-weight: 400;
	font-size: var(--title-size);
	font-style: normal;
	color: var(--primary-color);
}

h2 {
	font-family: var(--text-font);
	font-weight: 800;
	font-size: var(--subtitle-size);
	font-style: normal;
	color: var(--primary-color);
}


p {
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--black-sub);

}